#preloader{
    
    position: absolute;
    height: 100vh;
    width: 100%;
    z-index: 1000;
    background-color: $white;
    // >div{
    //     svg{
    //         visibility: hidden;
    //     }
    // }
}
#cone1{
    visibility: hidden;
}

#cone2{
    visibility: hidden;
}

#cone3{
    visibility: hidden;
}

#cone4{
    visibility: hidden;
}

#cone5{
    visibility: hidden;
}

#cone6{
    visibility: hidden;
}

#cone7{
    visibility: hidden;
}

#cone8{
    visibility: hidden;
}

#cone9{
    visibility: hidden;
}

#cone10{
    visibility: hidden;
}

#cream1{
    visibility: hidden;
}

#cream2{
    visibility: hidden;
}

#cream3{
    visibility: hidden;
}

#vanilla1{
    visibility: hidden;
}

#vanilla2{
    visibility: hidden;
}

#vanilla3{
    visibility: hidden;
}

#chocolate1{
    visibility: hidden;
}

#chocolate2{
    visibility: hidden;
}

#strawberry1{
    visibility: hidden;
}

#strawberry2{
    visibility: hidden;
}

#strawberry3{
    visibility: hidden;
}

#cherry-plop1{
    visibility: hidden;
}

#cherry-plop1{
    visibility: hidden;
}

#cherry{
    visibility: hidden;
}

#done{
    visibility: hidden;
}